/* Custom Container */
@media only screen and (min-width : 1200px){
	.container{
		max-width: 1300px;
	}
}

/* Global */
::-moz-selection { /* Code for Firefox */
	background-color: rgba(255, 79, 134, 0.5);
}
::selection {
	background-color: #EAEBF9;
}


/* Works on Firefox */
*{
  scrollbar-width: thin;
  scrollbar-color: #393f47 #cccccc;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar{
  width: 8px;
}
*::-webkit-scrollbar-track{
  background: #cccccc;
}
*::-webkit-scrollbar-thumb{
  background: #393f47;
}
*, body, h1, h2, h3, h4, h5, h6, p, a{
	outline: 0 !important;
	font-family: 'Poppins', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.btn-primary{
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 38px;
	padding-right: 38px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 600;
	background-color: #fff;
	color: #283D98;
	border: 1px solid #283D98;
}
.btn-primary:hover{
	background-color: #283D98;
}
.btn-primary:active{
	background-color: #283D98;
}
/* Back To Top Button */
#back_to_top_btn{
	display: inline-block;
	background-color: #283D98;
	width: 60px;
	height: 40px;
	text-align: center;
	border-radius: 30px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
#back_to_top_btn::after{
	font-family: "Font Awesome 5 Pro";
  	font-weight: 900;
  	content: "\f077";
	font-size: 22px;
	color: #fff;
}
#back_to_top_btn:hover{
	cursor: pointer;
	background-color: #283D98;
}
#back_to_top_btn:active{
	background-color: #4153a1;
}
#back_to_top_btn.show{
	opacity: 1;
	visibility: visible;
}
/*Header*/
.top_bar{
	padding-top: 10px;
	padding-bottom: 10px;
}
.main_header{
	background-color: #283D98;
}
.top_bar .ship_note{
	font-size: 14px;
	color: #fff;
}
.top_bar .top_nav_links a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
}
.top_bar .top_nav_links a:hover{
	color: #FCBE00;
}
.top_bar .social_links i{
	font-size: 20px;
	color: #fff;
}
.top_bar .social_links i:hover{
	color: #FCBE00;
}
.seprater{
	height: 1px;
	width: 100%;
	background-color: #7E8BC1;
	margin-top: 2px;
	margin-bottom: 2px;
}
.header .logo_link{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.header .navbar{
	color: #fff;
}
img{
	max-width: 100%;
}

.header .nav-item .nav-link{
	color: #fff;
}
.header .offcanvas-body .navbar-nav{
	align-items: center;
}
.header .nav-item .nav-link:hover{
	color: #FCBE00;
}
.header .nav-item .nav-link.active{
	color: #FCBE00;
}
.search_dropdown_btn{
	background-color: #fff !important;
	border: none;
	color: #283D98;
}
.search_dropdown_btn:hover{
	color: #283D98;
}
.search_dropdown_btn:active{
	color: #283D98 !important;
}
.search_bar .input-group{
	margin-bottom: 0 !important;
}
.search_bar .form-select{
	max-width: 155px;
}
.search_bar input{
	padding-top: 15px;
	padding-bottom: 15px;
}
.search_bar .search_bar_button{
	background-color: #FCBE00;
	border: 0;
	padding-right: 16px;
	padding-left: 16px;
	font-size: 18px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.shop_bag{
    font-size: 30px;
    padding-left: 20px;
}
.shop_bag a{
    color: #fff;
}
.shop_bag a:hover{
    color: #FCBE00;
}
/*Banner Area*/
.main_banner{
	background-color: #283D98;
	width: 100%;
	padding-bottom: 50px;
}
.main_banner h1{
	font-size: 45px;
	color: #fff;
	line-height: 80px;
	font-weight: 600;
}
h1{
	font-size: 45px;
	color: #fff;
	line-height: 80px;
	font-weight: 600;
}
.main_banner .btn-primary{
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 38px;
	padding-right: 38px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 600;
	background-color: #fff;
	color: #283D98;
}
.companies_box .co_box{
	background-color: #fff;
	height: 142px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Products*/
.product_box{
	background-color: #F8F8F8;
	padding: 32px;
	border-radius: 10px;
	transition: 0.5s ease;
}
.product_box:hover{
	background-color: #283D98;
}
.product_box .cart{
	position: relative;

}
.product_box .cart_img{
	position: absolute;
	top: -278px;
	right: 0;
	font-size: 30px;
	color: #283D98;
}
.product_box:hover .cart_img{
	color: #fff;
}
.fan_colors{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #C9C9C9;
}
.product_content h6{
	color: #5B5B5B;
	font-size: 16px;
	line-height: 28px;
}
.product_box:hover h6{
	color: #fff;
}
.product_box:hover h5{
	color: #fff;
}
.product_content h5{
	color: #283D98;
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
}
.product_section h2{
	font-size: 35px;
	font-weight: 600;
	color: #283D98;
}
h2{
	font-size: 35px;
	font-weight: 600;
	color: #283D98;
}
.product_section p{
	color: #5B5B5B;
}

.product_img{
	height: 260px;
	text-align: center;
}
.service_arrow_btn{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
}
.service_arrow_btn .swiper-button-prev,
.service_arrow_btn .swiper-button-next{
	position: unset;
	margin-top: 0;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px solid #283D98;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #283D98;
	font-size: 24px;
}
.service_arrow_btn .swiper-button-prev::after,
.service_arrow_btn .swiper-button-next::after{
	display: none;
}
.service_arrow_btn .swiper-button-prev:hover,
.service_arrow_btn .swiper-button-next:hover{
	background-color: #283D98;
	color: #fff;
}
.service_arrow_btn .swiper-button-prev.swiper-button-disabled,
.service_arrow_btn .swiper-button-next.swiper-button-disabled{
	opacity: 0.43;
}
.footer{
	background-color: #1F2024;
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer p{
	color: #BCBCBD;
	margin-bottom: 0;
	padding-bottom: 0;
}
.footer h6{
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #fff;
}
.call_icon{
	height: 43px;
	width: 43px;
	border-radius: 50%;
	border: 1px solid #FCBE00;
	background-color: #2F2C21;
	display: flex;
	align-items: center;
	justify-content:center;
}
.call_icon i{
	color: #FCBE00;
	font-size: 20px;
}
.call_btn_detail p{
	margin-bottom: 5px;
	font-size: 14px;
	color: #BCBCBD;
}

.call_btn_detail h5{
	color: #FCBE00;
}
.call_btn{
	display: flex;
	align-items: center;
}
.footer li{
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer ul{
	padding-left: 0;
}
.footer a{
	text-decoration: none;
	color: #BCBCBD;
}
.footer a:hover{
	color: #FCBE00;
}
.footer .social_links i{
	color: #fff;
	font-size: 27px;
}
.footer .social_links i:hover{
	color: #FCBE00;
}
.footer hr{
	border: 1px solid #656565;
}
.footer .bottom_footer a{
	margin-right: 10px;
	margin-left: 10px;
}
.co_box{
	padding: 20px;
}

/*Product Page*/
.inner_banner{
	background-color: #283D98;
	width: 100%;
	height: 190px;
}
.inr_bnr_content{
	text-align: center;
	padding-top: 50px;
}
.inr_bnr_content .breadcrumb{
	justify-content: center;
}

.inr_bnr_content .breadcrumb a{
	color: #fff;
	text-decoration: none;
}
.inr_bnr_content .breadcrumb .breadcrumb-item.active {
	color: #fff;
}
.inr_bnr_content .breadcrumb-item::before{
	color: #fff;
}
.inr_bnr_content h1{
	color: #fff;
	font-size: 45px;
	font-weight: 600;
}

.filter_box{
  margin-bottom: 25px;
}
.filter_box_inner{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 130px;
  scrollbar-color: #ECECEC transparent;
}
.filter_box_inner::-webkit-scrollbar-track{
  background: transparent;
}
.filter_box_inner::-webkit-scrollbar-thumb{
  background: #ECECEC;
}
.filter_box h4{
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.filter_checkbox{
  display: inline-block;
  margin-bottom: 12px;
  margin-right: 12px;
}
.filter_checkbox .btn{
  background-color: #fff;
  border: 1px solid #C9C9C9;
  border-radius: 9px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.filter_checkbox .btn:hover{
  background-color: #fff;
  border-color: #C9C9C9;
  color: #000;
}
.filter_checkbox .btn-check:checked + .btn{
  background-color: #283D98;
  border-color: #283D98;
  color: #fff;
}

.filter_box .form-label{
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.filter_box .input-group .input-group-text{
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-color: #ECECEC;
  border-right: none !important;
}
.filter_box .input-group .form-control{
  background-color: #fff;
  border-color: #ECECEC;
  font-size: 14px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  border-left: none;
}
h4{
	font-size: 20px;
	color: #283D98;
	font-weight: 600;
}
.filter_box h4{
	font-size: 20px;
	color: #283D98;
	font-weight: 600;
}
.filter_box .btn-primary{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 400;
	background-color: #283D98;
	color: #fff;
	border: 1px solid #283D98;
}
.btn-primary:hover{
	background-color: #283D98;
	color: #fff;
	border-color: #fff;
}
.btn-primary:active{
	background-color: #283D98;
}
.filter_box .btn_secondary{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	color: #000;
	border: 1px solid #D4D4D4;
}
.btn_secondary:hover{
	background-color: #283D98;
	color: #fff;
}
.btn_secondary:active{
	background-color: #283D98;
}
/*thumb gallery*/
.main-swiper-img{
	height: 529px;
	border-radius: 6px;
	margin-bottom: 20px;
}
.main-swiper-img img{
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

.swiperthumb-imgscrol {
	border-radius: 6px;
	object-fit: cover;
}
.swiperthumb-imgscrol img{
	object-fit: cover;
	height: 105px;
	width: 100%;
	max-width: 100%;
	border-radius: 6px;
}
.color_checkbox{
  display: inline-block;
  margin-bottom: 12px;
  margin-right: 12px;
}
.color_checkbox .btn{
  border: 1px solid #C9C9C9 !important;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid #C9C9C9;
  position: relative;
}
.color_checkbox .btn:hover{
  border-color: transparent;
}
.color_checkbox .btn::before{
  font: var(--fa-font-regular);
  content: "\f00c";
  color: #DEDEDE;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.color_checkbox .btn-check:checked + .btn{
  border-color: transparent;
}
.color_checkbox .btn-check:checked + .btn::before{
  display: block;
}
.color_checkbox.white .btn{
  border-color: #BFCCD6;
}
.color_checkbox.white .btn:hover{
  border-color: #BFCCD6;
}
.color_checkbox.white .btn::before{
  color: #000;
}
.color_checkbox.white .btn-check:checked + .btn{
  border-color: #BFCCD6;
}
h5{
	font-size: 18px;
	font-weight: 500;
	color: #000;
}
.product_detail ul{
	padding-left: 16px;
}
.product_detail ul li{
	margin-bottom: 10px;
}
.btn_primary{
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 38px;
	padding-right: 38px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 600;
	background-color: #283D98;
	color: #fff;
	border: 1px solid #283D98;
}
.btn_primary:hover{
	background-color: #283D98;
	color: #fff;
}
.btn_primary:active{
	background-color: #283D98;
}
.detail_tabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 44px;
	padding-right: 44px;
	background-color: #283D98;
}
.detail_tabs .nav-pills .nav-link{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 44px;
	padding-right: 44px;
	background-color: #F5F5F5;
}
.social_links_share .icon_box{
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background-color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #5B5B5B;
	font-size: 24px;
	transition: 0.5s ease;
}
.social_links_share .icon_box:hover{
	background-color: #283D98;
	color: #fff;
}
.social_links_share a{
	text-decoration: none;
}
.social_links_share p{
	padding: 0;
	margin: 0;
	font-weight: 600;
}

/*Cart Page*/
.cart_section .pro_img_box{
	background-color: #F8F8F8;
	border-radius: 10px;
	width: 120px;
	height: 120px;
}
.cart_section .pro_img_box img{
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	object-fit: cover;
}

.cart_section .pro_spec h4{
	color: #000;
}
.cart_section .pro_spec h5{
	color: #283D98;
	font-weight: 600;
}

.pro_spec .product_spec{
	display: flex;
}

/*Qty Button*/
.quantity-field {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
  margin: 0 auto;    
}

.quantity-field .value-button{ 
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;   
  padding: 0;
  background: #283D98; 
  color: #fff;
  outline: none;
  cursor: pointer;
}

.quantity-field .value-button:hover {
  background: #172D8B;
}

.quantity-field .value-button:active{
  background: #172D8B;
}

.quantity-field .decrease-button {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.quantity-field .increase-button {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}
 
.quantity-field .number{
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 65px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box; 
  background: white;
  font-family: calibri;
}

.quantity-field .number::selection{
  background: none;
}

/*-----------------*/

.cart_section .remove_btn{
	color: #FC0000;
	display: block;
}

.cart_section hr{
	border: 1px solid #D9D9D9;
	margin-top: 30px;
	margin-bottom: 30px;
}
.cart_box{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 46px;
	padding-bottom: 46px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
}
.cart_box hr{
	border: 1px dashed #868686;
	margin-top: 20px;
	margin-bottom: 20px;
}
.cart_box h5, .cart_box h6{
	font-weight: 600;
}
.cart_box p{
	margin: 0;
	padding: 0;
}
.cart_box .form-check-input{
	width: 32px;
	height: 32px;
}
.cart_box_footer a{
	text-decoration: none;
	color: #000000;
}
.cart_box .form-control{
	background-color: #F5F5F5;
	border-color: #F5F5F5;
}

/*Checkout Page*/

/*form styles*/
#msform {
	margin: 50px auto;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	padding: 20px 30px;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
.form-control{
	background-color: #F5F5F5;
	padding-top: 18px;
	padding-bottom: 18px;
	border: none;
}
.form-select{
	background-color: #F5F5F5;
	padding-top: 18px;
	padding-bottom: 18px;
	border: none;
}


/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	font: var(--fa-font-light);
  content: "\f007";
	width: 70px;
	height: 70px;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #333;
	background: #F5F5F5;
	border-radius: 10px;
}
#progressbar .b_tab:before {
	font: var(--fa-font-light);
	font-size: 30px;
  content: "\f0d1";
  color: #5B5B5B;
}
#progressbar .c_tab:before {
	font: var(--fa-font-light);
	font-size: 30px;
  content: "\f570";
  color: #5B5B5B;
}
#progressbar .d_tab:before {
	font: var(--fa-font-light);
	font-size: 30px;
  content: "\f058";
  color: #5B5B5B;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 5px;
	background: #F5F5F5;
	position: absolute;
	left: -71%;
	top: 50%;
	z-index: -1;
	transform: translateY(-50%);
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #283D98;
	color: white;
}
.checkout_section .pro_img_box{
	background-color: #F8F8F8;
	border-radius: 10px;
	width: 120px;
	height: 120px;
}
.checkout_section .pro_img_box img{
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	object-fit: cover;
}
.header .wrapper{
	position: relative;
}
.menu-mobile-trigger span{
	background: #fff !important;
	position: absolute !important;
}
.header .wrapper{
	position: relative;
}
.shop_bag a i{
	margin-left: 20px;
}








/* Responsive */

/* Small Device */
@media only screen and (max-width: 1199px){
	.top_bar{
		font-size: 14px;
	}
	.top_bar .top_nav_links a{
		font-size: 14px;
	}
	.header .nav-item .nav-link{
		font-size: 14px;
	}
	.search_bar .form-select {
  max-width: 114px;
}
.header .input-group{
	margin-left: 20px;
	margin-right: 20px;
}
.shop_bag{
	padding-left: 48px;
}
.search_bar input {
  padding-top: 11px;
  padding-bottom: 11px;
}
.call_btn_detail h5{
	font-size: 18px;
}

.inner_products .col-sm-4{
	width: 50%;
}

.footer_bottom .col-sm-1{
	width: 13.3%;
	text-align: center;
}
.footer_bottom .col-sm-5{
	width: 36.7%;
}
.product_detail .main-swiper-img {
  height: 421px;
}
.pro_cart_detail .col-sm-7{
	width: 55.3%;
}

.checkout_section .pro_img_box {
	width: 88px;
	height: 88px;
}



}

@media only screen and (max-width: 992px){
	.main_banner h1{
		font-size: 35px;
		line-height: 53px;
	}
	.main_banner {
		height: 540px;
	}
	.top_bar .social_links i {
  font-size: 17px;
}
.header-item-right {
	flex: 1 1 auto !important;
}
.search_bar .input-group .form-control{
	max-width: 195px;
}
.menu-mobile-trigger{
	top: 35px;
right: 431px;
}

.header .h_main{
	background: #283D98 !important;
}
.menu-mobile-header{
	background: #283D98 !important;
}
.header .menu .menu-mobile-header .menu-mobile-close, .header .menu .menu-mobile-header .menu-mobile-arrow  {
	background: #283D98;
	color: #fff;
	border: none;
	font-size: 18px;
}
.header .menu .menu-mobile-header .menu-mobile-title {
	color: #fff !important;
}
}

/* Tablet */
@media only screen and (max-width: 810px){

.header .navbar-toggler {
  color: #B3C8D5;
  border-color: #FFF;
  background-color: rgba(255, 255, 255, 0.11);
}
.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header .offcanvas {
  background-color: rgba(21, 41, 117, 0.8);
}
.header .offcanvas-header .btn-close {
  color: #fff;
  opacity: 1;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.header .input-group {
  margin: 0;
}
.shop_bag {
  padding-left: 0px;
  padding-top: 20px;
}
.footer .col-sm-3{
	width: 50%;
}
.footer_bottom .col-sm-1{
	width: 20%;
	text-align: center;
}
.footer_bottom .col-sm-5{
	width: 79.7%;
	text-align: right;
}
.bottom_footer {
	margin-bottom: 10px;
	margin-top: 10px;
}
.footer_bottom .col-sm-4{
	width: 60%;
}
.footer_bottom .col-sm-2{
	width: 40%;
}
.header .offcanvas-body .navbar-nav{
	align-items: flex-start;
}
.product_listing .col-sm-3, .product_listing .col-sm-9{
	width: 100%;
}
.product_detail .main-swiper-img {
  height: 310px;
}
.pro_cart_detail .col-sm-7 {
  width: 100%;
}
.pro_cart_detail .responsive_width{
	width: 100%;
	margin-top: 50px;
}
.pro_spec_row .col-sm-3{
	width: 36%;
}
.pro_spec_row .pro_spec{
	width: 64%;
}
.checkout_section .col-sm-7, .checkout_section .col-sm-5{
	width: 100%;
}
.checkout_section .mt-5{
	margin-top: 0 !important;
}
.offcanvas-title{
	color: #fff !important;
}
}

/* Mobile */
@media only screen and (max-width: 481px){
	.top_bar .col-sm-2, .top_bar .col-sm-6, .top_bar .col-sm-4{
		text-align: center !important;
		margin-bottom: 10px;
	}
	.main_banner .mt-5{
		margin-top: 3px !important;
	}
	.main_banner h1 {
  font-size: 27px;
}
.main_banner {
  height: 700px;
}
.footer .col-sm-3{
	width: 100%;
}
.footer_bottom .col-sm-1{
	width: 100%;
	text-align: center !important;
}
.payment_icons {
	justify-content: center;
	margin-bottom: 10px;
}
.footer_bottom .col-sm-5{
	width: 100%;
	text-align: center;
}
.bottom_footer {
	margin-bottom: 10px;
	margin-top: 10px;
	justify-content: center;
}
.footer_bottom .col-sm-4{
	width: 100%;
}
.footer_bottom .col-sm-2{
	width: 100%;
	text-align: center !important;
}
.filter_box .btn-primary{
	margin-top: 20px;
}
.inner_products .col-sm-4 {
  width: 100%;
}
.product_detail .main-swiper-img {
  height: 376px;
}
.res_margin h2{
	margin-top: 20px;
}
.detail_tabs .ms-4{
	margin-left: 0 !important;
	margin-top: 20px;
}
.social_links_share {
	overflow: hidden;
}
.social_links_share .icon_box {
  width: 40px;
  height: 40px;
  font-size: 18px;
}
.pro_spec_row .col-sm-3{
	width: 36%;
}
.pro_spec_row .pro_spec{
	width: 64%;
}

.quantity-field {
  justify-content: start;
  margin-top: 20px;
}

.pro_spec_row .text-end{
	text-align: left !important;
}
.cart_box .col-sm-6{
	width: 50%;
}
.product_spec {
	margin-bottom: 30px;
}
.menu-mobile-trigger {
	top: 27px !important;
	right: 0px !important;
}
.search_bar .input-group .form-control{
	max-width: 100%;
}
}

/* Tablet Landscape Mode */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1280px)
and (orientation: landscape){
	
}

/* Mobile Landscape Mode */
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 926px) 
and (orientation: landscape) {
 	
}